<html ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<title>Google Phone Gallery: {{query}}</title>
<head>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
		Sort by:
		<select ng-model="orderProp">
		  <option value="name">Alphabetical</option>
		  <option value="age">Newest</option>
		</select>
		
		
		<ul class="phones">
		  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
		    <span>{{phone.name}}</span>
		    <p>{{phone.snippet}}</p>
		  </li>
		</ul>
      </div>
    </div>
  </div>

</body>
</html>